* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .heart{
    position: relative;
    transition: 350ms all;
  }

  .heart-left{
    background-color: black;
    width: 80px;
    height: 120px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: 250ms all;

  }

  .heart-right{
    background-color: black;
    width: 80px;
    height: 120px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: 0;
    transition: 250ms all;
    position: absolute;
  }

  .heart:hover .heart-left{
    transform: translate(-15px) rotate(-45deg);
    background-color: red;
  }

  .heart:hover .heart-right{
    transform: translate(15px) rotate(45deg);
    background-color: red;
  }